@font-face {
    font-family: ROBOTO;
    src: url("../tools/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}
@font-face {
    font-family: IBM;
    src: url("../tools/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}
@font-face {
    font-family: PLAY;
    src: url("../tools/Play/Play-Regular.ttf");
}
@font-face {
    font-family: CHAKRA;
    src: url("../tools/Chakra_Petch/ChakraPetch-Regular.ttf");
}

html,
body {
    height: 100%;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-image: url(../imagenes/OANJYF0.jpg);
    background-repeat: repeat;
    background-size: 100%;
}